<section class="about">
  <h2>Larissa Leão</h2>
  <p>Mestranda do Programa de Pós-graduação em Arquitetura e Urbanismo da Universidade Federal de Minas Gerais (NPGAU-UFMG), sob a linha de pesquisa Teoria e História da Arquitetura e do Urbanismo e suas relações com outras artes e ciências. Graduada em Arquitetura e Urbanismo no ano de 2021 pela Universidade Federal de Pernambuco (UFPE). É pesquisadora nas áreas de teoria, história e patrimônio da arquitetura moderna, com bolsa do Programa de Excelência Acadêmica (Proex) da CAPES.</p>
  <div class="button-container">
    <button class="button" (click)="redirectToPortfolio()">Ver Portfólio</button>
    <button class="button" (click)="redirectToLattes()">Lattes</button>
    <button class="button" (click)="redirectToLinkedIn()">LinkedIn</button>
  </div>
</section>
