<c-carousel class="carousel-container" [interval]="0">
  <h4>Pavilhão Canadá</h4>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <button><c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control></button>
    <br>
    <button><c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control></button>
  </c-carousel>